.pageHeading {
    font-size: 1.5em;
    color: #404E5A;
}
.brandName {
    background-color: #7BED8D;
    color: #ffffff;
    padding: 0.2em 0.5em;
    border-radius: 5em;
    font-weight: 600;
}
/* .cardParent:hover{
    cursor: pointer;
    transform: scale(1.1);
 } */
 .txt {
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}
p {
    margin-bottom: 0em;
    margin-top: 0em;
}
h1 {
    text-align: center;
    padding-bottom: 0.8em;
}