.pageHeading {
    font-size: 1.5em;
    color: #404E5A;
}
.brandName {
    background-color: #7BED8D;
    color: #ffffff;
    padding: 0.2em 0.5em;
    border-radius: 5em;
    font-weight: 600;
}
.cardParent:hover{
    cursor: pointer;
    transform: scale(1.1);
 }