.parentContainer{
    background-image: url('../../assets/headerBg.jpg');
    background-size: cover;
    background-position: center;
}
.rightLinks {
    color: white;
    display: flex;
    margin: 2em 5em;
}
.leftLinks {
    color: white;
    margin: 2em 5em;
}
.header {
    display: flex;
    justify-content: space-between;
}
.centerLink {
    margin: 0em 5em;
}
.tintLayer {
    background-color: rgba(0,0,0,0.55);
}
.logo {
    height: 10em;
    width: 10em;
}
.slogan {
    color: white;
    font-weight: 700;
    font-size: 2em;
}

element.style {
}
.content {
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .searchBar{
    margin-bottom: 6em;
    border: none;
    font-size: 1em;
    width: 60%;
    border-radius: 0.8rem;
    padding: 0.5em 2em;
    background-color: white;
    
} */
/* .search{
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    background-color: white;
    width: 60%;
    border-radius: 0.8rem;
    border: none;
    padding: 0.5em 4em;
} */
.inputContainer {
    display: flex;
    align-items: center;
    width: 60%;
    background-color: #ffffff;
    border-radius: 0.8em;
    padding: 0.5em;
}
.search {
    flex: 1;
    border: none;
    margin-left: 1em;
}
.search:focus{
    outline: none;
}
