.parentContainer{
    background-image: url('../../assets/headerBg.jpg');
    background-size: cover;
    background-position: center;
}
.rightLinks {
    color: white;
    display: flex;
    margin: 2em 5em;
}
.leftLinks {
    color: white;
    margin: 2em 5em;
}
.header {
    display: flex;
    justify-content: space-between;
}
.centerLink {
    margin: 0em 5em;
}
.tintLayer {
    background-color: rgba(0,0,0,0.55);
}
.logo {
    height: 10em;
    width: 10em;
}
.slogan {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

element.style {
}
.content {
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputContainer {
    display: flex;
    align-items: center;
    width: 60%;
    background-color: #ffffff;
    border-radius: 0.8em;
    padding: 0.5em 1em;
}
.searchIcon{
    color: #828282;
    font-size: 1.25em;
}
.search {
    flex: 1;
    border: none;
    margin-left: 1em;
}
.search:focus{
    outline: none;
}