/* 
.full-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
/* .food-container {
    flex: 1;
    display: flex;
} */
/* .food-info {
    flex: 1;
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
} */
/* .info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
/* .food-name {
    display: flex;
    align-items: center;
} */
/* .food-name-value {
    margin-left: 1em;
    font-size: 1.2em;
} */
/* .instructions-body{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
.foodimg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-bottom-left-radius: 20em;
} 